# 장점

- 테이블을 알아서 만들어준다
- csv -> DataFrame -> database에 insert (끝)

In [114]:
# !pip install pymysql 
# 다른 방법 : ! conda install p|ymysql -y

In [115]:
# 필요한 것 1. 파이썬에서 mysql 계열에 access 할 수 있는 모듈 
import pymysql

In [116]:
# DataFrame에서 디비와 연동하기 위한 sql드라이버 
from sqlalchemy import create_engine

In [117]:
# csv -> df 
import pandas as pd 
# df -> sql 
import pandas.io.sql as pSql

In [118]:
# 1. csv -> df로 읽어서 변환 
df = pd.read_csv('./raw/gu.csv')

In [119]:
df

   gu_id    gu
0      1   용산구
1      2    중구
2      3   종로구
3      4  서대문구
4      5  동대문구
5      6   성북구
6      7   성동구
7      8   마포구

# df -> sql -> db 에 적제

In [120]:
# 연결
db_url = 'mysql+pymysql://root:11111111@127.0.0.1/python_db'
db_url

'mysql+pymysql://root:11111111@127.0.0.1/python_db'

In [121]:
# 엔진 생성
engine = create_engine( db_url, encoding='utf-8' )

In [122]:
# 디비 연결
conn = engine.connect()

In [123]:
# 연결 해제 
if conn : 
    conn.close()
    # 안전하게 종료

In [124]:
# 연결 및 자동 해제 
with engine.connect() as conn :
    # 삽입
    # name : 테이블 명 
    # if_exists : 기존데이터가 존재하면 지우고 덮을 것인가 or 추가할 것인가?
    # index : df의 index도 데이터로 넣을 것인가? 
    df.to_sql( name='tbl_areas', con=conn, if_exists='replace', index=False )

In [113]:
# 실습 gps.csv 파일을 tbl_gps에 입력하시오

In [ ]:
##마리아DB 설치 
# 비밀번호 : 11111111
# MYSQL 설치 
# : create database PYTHON_DB; 
# : show databases;    
# : exit 
    
# HS 들어가기
# 신규 누르고 
# 세션이름 : local 
#     데이터베이스 : python_db 선택 
#         저장 ㅡ 열기

In [97]:
gps = pd.read_csv('./raw/gps.csv')
gps.head()

   gu_id        lat         lng
0      1  37.554877  126.969665
1      1  37.553087  126.976429
2      1  37.555221  126.976546
3      1  37.553207  126.978747
4      1  37.553687  126.985415

In [98]:
gps = gps.rename(columns={'`':'gu_id'})

In [99]:
db_url = 'mysql+pymysql://root:11111111@127.0.0.1/python_db'
db_url

'mysql+pymysql://root:11111111@127.0.0.1/python_db'

In [100]:
engine = create_engine( db_url, encoding='utf-8' )
conn = engine.connect()
gps.to_sql( name='tbl_gps', con=conn, if_exists='replace', index=False )

- 저장 : 데이터베이스를 sql로 내보내기 
- 불러오기 : 파일 - sql 파일 실행

# 202001312

In [2]:
# geoJson : 반정형 
# 디비 오픈 
# 폴리곤 갯수만큼 반복
    # 행정구역별(폴리곤단위) 한줄씩 읽어서(파일처리)
    # 읽은 데이터 한 개는 json 형식이므로, json.load()
    # json.load() => 자료구조를 그대로 유지
    # => gps, 기타 정보를 인덱싱 처리 가능 
    # df를 구성 => db에 인서트 
# 디비 닫기